{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}События{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Таблица</h1>
        <p>Список текущих событий</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a>Список событий</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container mt-4">
    <h2>
        {% if current_status == 'running' %}Текущие бронирования
        {% elif current_status == 'upcoming' %}Предстоящие бронирования
        {% elif current_status == 'completed' %} Завершенные бронирования
        {% else %}Все бронирования{% endif %}
    </h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Стол</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Статус оплаты</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for event in object_list %}
            <tr>
                <td>{{ event.title }}</td>
                <td>Стол №{{ event.table.number }}</td>
                <td>{{ event.start_time|date:"d.m.Y H:i" }}</td>
                <td>{{ event.end_time|date:"d.m.Y H:i" }}</td>
                <td>
                                {% if event.is_paid %}
                                    <span class="badge bg-success">Оплачено</span>
                                {% else %}
                                    <span class="badge bg-warning">Ожидается оплата</span>
                                {% endif %}
                            </td>
                <td>{{ event.total_cost }} руб.</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Нет событий</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
